<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HOME</title>
    <!-- <link rel="stylesheet" href="templates/assets/bootstrap/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="templates/assets/css/Login-Form-Dark.css"> -->
    <!-- <link rel="stylesheet" href="templates/assets/css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Login-Form-Dark.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
    <div class="login-dark">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <h1>Tweet Analyzer</h1>
            </div>
            <div class="form-group"><input class="form-control" type="username" name="username" placeholder="@username"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sumbit</button></div><small>Developed by Hasret Doğuer</small>
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>